<%= form_with(model: venda_produto_material, local: true) do |form| %>
  <% if venda_produto_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda_produto_material.errors.count, "error") %> prohibited this venda_produto_material from being saved:</h2>

      <ul>
      <% venda_produto_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :venda_id %>
    <%= form.text_field :venda_id, id: :venda_produto_material_venda_id %>
  </div>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id, id: :venda_produto_material_produto_id %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.text_field :material_id, id: :venda_produto_material_material_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
