<h1 align="center">Marmoraria São João</h1><br>

<h3 align="center"> <%= link_to 'Gerenciamento de clientes', clientes_path %> </h3>

<h3 align="center"> <%= link_to 'Gerenciamento de  funcionários', funcionarios_path %> </h3>

<h3 align="center"> <%= link_to 'Gerenciamento de fornecedores', fornecedors_path %> </h3>

<h3 align="center"> <%= link_to 'Gerenciamento de materiais', materials_path %> </h3>

<h3 align="center"> <%= link_to 'Gerenciamento de produtos', produtos_path %> </h3>

<h3 align="center"> <%= link_to 'Gerenciamento de vendas ', vendas_path %> </h3>

