<h1 align="center">marmoraria são joão</h1><br>

<h3 align="center"> <%= link_to 'gerenciamento de clientes', clientes_path %> </h3>

<h3 align="center"> <%= link_to 'gerenciamento de  funcionarios', funcionarios_path %> </h3>

<h3 align="center"> <%= link_to 'gerenciamento de fornecedores', fornecedors_path %> </h3>

<h3 align="center"> <%= link_to 'gerenciamento de materiais', materials_path %> </h3>

<h3 align="center"> <%= link_to 'gerenciamento de produtos', produtos_path %> </h3>

<h3 align="center"> <%= link_to 'gerenciamento de vendas ', vendas_path %> </h3>

