<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> impediram esse material de ser salvo:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :material_nome %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :material_valor %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :material_tipo %>
  </div>

  <div class="field">
    <%= form.label :cor %>
    <%= form.text_field :cor, id: :material_cor %>
  </div>

  <div class="field">
    <%= form.label :origem %>
    <%= form.text_field :origem, id: :material_origem %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
