<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @material.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @material.valor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @material.tipo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @material.cor %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @material.origem %>
</p>

<%= link_to 'Editar', edit_material_path(@material) %> |
<%= link_to 'Voltar', materials_path %>
