<%= form_with(model: venda, local: true) do |form| %>
  <% if venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda.errors.count, "error") %> impediram essa venda de ser salva:</h2>

      <ul>
      <% venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.collection_select(:produto_id, Produto.all, :id, :nome, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.collection_select(:material_id, Material.all, :id, :nome, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :valorVenda %>
    <%= form.text_field :valorVenda, id: :venda_valorVenda %>
  </div>

  <div class="field">
    <%= form.label :valorInstalacao %>
    <%= form.text_field :valorInstalacao, id: :venda_valorInstalacao %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome, prompt: true)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
