<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @venda.produto.nome %>
</p>

<p>
  <strong>Material:</strong>
  <%= @venda.material.nome %>
</p>

<p>
  <strong>Valor da venda:</strong>
  <%= @venda.valorVenda %>
</p>

<p>
  <strong>Valor da instalação:</strong>
  <%= @venda.valorInstalacao %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @venda.cliente.nome %>
</p>

<%= link_to 'Editar', edit_venda_path(@venda) %> |
<%= link_to 'Voltar', vendas_path %>
