<p id="notice"><%= notice %></p>

<h1>Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Salario</th>
      <th>Rua</th>
      <th>Numero</th>
      <th>Complemento</th>
      <th>Cep</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.telefone %></td>
        <td>R$ <%= funcionario.salario %></td>
        <td><%= funcionario.rua %></td>
        <td><%= funcionario.numero %></td>
        <td><%= funcionario.complemento %></td>
        <td><%= funcionario.cep %></td>
        <td><%= funcionario.cidade %></td>
        <td><%= funcionario.estado %></td>
        <td><%= link_to 'Ver', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Apagar', funcionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo funcionario', new_funcionario_path %>
<%= link_to 'Voltar', root_path  %>
